@font-face {
    font-family: 'ProximaNova';
    src: url('../assets/fonts/ProximaNova-Light.woff2');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'AshleyCapitaliSofia';
    src: url('../assets/fonts/ashleycapitalisofia.woff2');
    font-style: normal;
    font-weight: 300;
}
:root {
    --color-primary: #333333;
}
body{
    color: var(--color-primary);
    font-family: 'ProximaNova';
}
/* HEADER */
.imglogo{
    height: 3.8rem;
}
.header{
    padding: 20px;
    font-size: 15px;
}
.header p{
    margin: 0;
}
.top-header{
    gap: 20px;
}

/* MAIN SECTION */
.main-section{
    padding: 2rem;
    background-image: linear-gradient(#333333A6, #333333A6),url(../assets/img/main-section/bg_main.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto; 
}
.main-section .main-row{
    padding: 10rem 0;
}
.main-button{
    position: absolute;
    top: -9rem;
    right: 0%;
    width: 286px;
    height: 286px;
    border-radius: 100%;
    border: none;
    font-size: 22px;
    color: white;
    background-color: var(--color-primary);;
}
.wrapper-main-button{
    position: relative;
    height: 100%;
}
.main-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 53px); /* Немного больше, чем кнопка */
    height: calc(100% + 53px); /* Немного больше, чем кнопка */
    border: 1px solid white;
    border-radius: 50%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 50% 50%);
  }

/* INFO SECTION */
.info-section{
    padding: 9rem 0 0 0;
}
.info-botom-text{
    position: absolute;
    bottom: 100px;
    left: 57px;
}
.bedroom-image{
    width: 95%;
}
.info-schematic-block{
    position: relative;
    width: 40%;
    height: 100%;
}
.info-bottom-picture{
    height: 47.813rem;
    width: 100%;
}

.info-stats h3{
    font-family: 'AshleyCapitaliSofia';
    font-size: 60px;
}
.info-stats p{
    font-family: 'ProximaNova';
    font-weight: 400;
    font-size: 28px;
}

/* COMPONENTS */
.button{
    font-size: 16px;
    padding: 10px 25px;
    background-color: white;
    border: 1px solid var(--color-primary);
}
.text-header{
    font-size: 80px;
}
.text-subheader{
    font-size: 55px;
}
.vertical-line{
    background-color: var(--color-primary);
    height: 100%;
}
.picture-wrapper{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

